:root {
  --Blue1: #333147;
  --Blue2: #041E42;
  --Blue3: #6E7CA0;
  --Blue4: #B3B0C4;

  --Gray1: #E3E5E3;
  --Gray2: #C8C9C7;
  --Gray3: #A7A8AA;

  --YO1: #EAB330;
  --YO2: #FFBF3F;
  --YO3: #F2C75E;
  --YO4: #F8E08E;

  --Coral1: #D5665F;
  --Coral2: #E8927C;
  --Coral3: #EAA794;
  --Coral4: #E6BAA8;

  --Magenta1: #CA0088;
  --Magenta2: #DF1995;
  --Magenta3: #F277C6;
  --Magenta4: #DCB6C9;
}

* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--Blue1);
}

nav {
  display: flex;
}

nav:after,
.DontMove:after,
header:after,
.dashbord:after {
  content: "";
  clear: both;
  display: table;
}

.DontMove {
  background-color: var(--Blue1);
  position: sticky;
  top: calc(2em + 20px);
  z-index: 99;
}

nav a {
  text-decoration: none;
  color: var(--Gray1);
  display: block;
  padding: 15px;
  float: left;
  border-bottom: solid 2px var(--Gray3);
  border-left: solid 1px var(--Gray3);
  border-right: solid 1px var(--Gray3);
  position: relative;
}

header#Header {
  background: var(--Blue3);
  height: calc(2em + 20px);
  top: 0;
}

header .User,
header .UserInfo,
header .UserIcon {
    float: right;
}

.UserInfo {
  padding: 17px 20px;
}

.UserInfo span {
  width: max-content;
  display: block;
}

.UserIcon {
  position: relative;
  display: inline-block;
}

.UserIcon>svg>path {
  fill: var(--Blue1);
}

.UserIcon:hover .OptionMenu {
  display: block;
}

.bi-person-fill {
  width: 2em;
  height: 2em;
  padding: 10px 20px;
}

.OptionMenu {
  text-decoration: none;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 0 0 10px 10px;
  padding: 12px 16px;
  width: max-content;
  z-index: 1;
  padding: 15px 20px;
}

.OptionMenu span {
  text-decoration: none;
  padding-left: 10px;
}

.NavWrap {
  width: 80%;
  margin: 0 auto;
}

svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

svg path {
  fill: white;
}

.CancelButton svg{
  width: 2.5em;
  height: 2.5em;
}

.CancelButton svg:hover path {
  fill: red;
}

.CancelButton {
  position: fixed;
  top: calc(1em + 49px);
  right: calc(15% + (63% / 100) + 2.5em);
}

.CancelButton button {
  background-color: transparent;
  border: none;
}

.Button {
  text-decoration: none;
  color: var(--Blue1);
  font-weight: 700;
  font-size: 20px;

  border-radius: 20px;
  background: var(--Magenta1);
  padding: 10px 20px;
  margin: 10px 15px;

  float: right;
}

.Button:hover{
  background: var(--YO2);
}

input[type=text] {
  padding: 10px 5px 10px 20px;
  margin-left: 5px;

  color: #eab230;

  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--Magenta1);
}
input[type=text]:hover{
  border-bottom: solid 2px var(--YO2);
}

.SearchBar {
  margin: 10px 15px;
  float: right;
}

.FilterSelect {
  margin: 10px 15px;
  float: right;
}

.FilterSelect svg,
.SearchBar svg {
  padding: 10px 0;
}

.Filters {
  min-height: 5px;
}

div h1{
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
}
div input{
  width: calc(50% - 25px);
  font-size: 16px;
  vertical-align:middle;
}

.CompleteInput{
  width: calc(90% - 25px);
}

#FirstDiv{
  margin: 50px 250px;
}

#FiltersDiv{
  margin: 10px 250px;
}

form label{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  margin-bottom: 50px;
}

#NoteText{
  color: black;
  width: 50%;
  margin-left: 5px;
  height: 300px;
  border-radius: 20px;
  padding: 15px 20px;
  resize: none;
  background-color: rgb(224, 224, 224);
  caret-color: black;
  cursor: url("src/main/webapp/Resources/text-cursor.png"), auto;
  font-size: 14px;
  margin-bottom: 50px;
}

#SubmitNote{
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 20%;
  height: 50px;
  border-color: var(--Magenta1);
  background-color: var(--Blue3);
  transition-duration: 0.4s;
}

#SubmitNote:hover{
  color: black;
  border-color: var(--YO2);
  background-color: var(--Blue1);
}

.MoveRight{
  display: flex;  
  justify-content: end;  
  align-items: end;
}

.FlexCenter:after {
  clear: both;
}

.FlexCenter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.note {
  width: calc(30% - 40px);
  padding: 20px;
  margin: 8px 0;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 20px;
  text-align: justify;
}

.ExpandCase {
  position: absolute;
  right: 20px;
  top: 20px;
}

.ExpandCase path {
  fill: white;
}

.ExpandCase svg:hover path{
  fill: var(--Magenta1)
}

.Atribute {
  height: 1em;
  color: white;
}

.Atribute+.Atribute {
  height: 1em;
  margin-top: 15px;
}

.Atribute span {
  font-weight: 700;
}

.Atribute.Message {
  height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Atribute.NoCut {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DeleteNote{
  padding-top: 15px;
  background-color: transparent;
  border: none;
}

.DeleteNote svg:hover path{
  fill: red;
}