* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: auto;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.600),rgba(0,0,0,0.600)), url("../images/homepage.jpeg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: center center;
    position: relative;
}
.nav-area{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
    list-style: none;
    background-color: #333147;
}
.nav-area li{
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
}
.nav-area li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    background-color: #CA0088;
    border-radius: 20px;
    padding: 10px 20px;
}
.nav-area li a:hover{
    background-color: #FFBF3F;
    color: black;
}
.logo img{
    width: 100px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: auto;
    height: auto;
    margin: 20% 30%;
    text-align: center;   
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    background-color: #333147;

}

.logo{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.welcome-text a:hover{
    background: #fff;
    color: #333;
    
}

#About{
    background-color: #333147;
    color: #fff;
    font-size: 40px;
    padding: 30px 30px;
}
.br{
    margin-top: 15px;
}